node_modules/*
*.bin
*.abi
contracts/Incentives/bin/
contracts/bin/
# contracts/Viper/
build/
coverage/
.idea/
.env

# Coverage directory used by tools like istanbul
coverage
coverage.json
coverageEnv
core
