{
  "PRIVATE_KEY": "0x8906081dd600b1b175ххххххххххххххххххххххххххb91b2be45e",
  "SEED_ADDRESS_BSC3": "https://data-seed-prebsc-1-s3.binance.org:8545",
  "SEED_ADDRESS_BSC2": "https://data-seed-prebsc-2-s3.binance.org:8545",
  "SEED_ADDRESS_BSC": "https://data-seed-prebsc-1-s1.binance.org:8545",
  "SEED_ADDRESS_KOVAN": "https://kovan.infura.io/v3/хххххх",
  "SEED_ADDRESS_RINKEBY": "https://rinkeby.infura.io/v3/хххххх",
  "SEED_ADDRESS_HECO": "https://http-testnet.hecochain.com",
  "SEED_ADDRESS_MUMBAI": "https://rpc-mumbai.maticvigil.com/v1/f044b9bf694b33659310e03d3b29d8d621d5fd63",
  "mnemonic": "ссс ссс ссс ссс ссс ссс",
  "BSC_SCAN_API_KEY": "хххххх",
  "ETHER_SCAN_API_KEY": "хххххх",
  "HECO_SCAN_API_KEY": "хххххх",
  "POLY_SCAN_API_KEY": "хххххх",
  "PLATFORM_TOKENS": {
    "bsc_testnet_fork": "",
    "bsc_testnet": "0x3084f20bd972Cec3d4Ba5561B91F9761844Dcd04",
    "mumbai": "0x45d50e3a65fbbdc2c9b3011b76b5e77313eaa172"
  }
}